html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  padding: 0px;
  background: rgba(51, 51, 51, 1);
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0px auto;
  padding: 0px 15px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 992px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 768px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 480px;
  }
}

.swiper-slide {
  display: flex !important;
  justify-content: center !important;
}

.animate__animated {
  animation-duration: 0.8s;
  animation-fill-mode: both;
}

[data-animate] {
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.animate__fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-50px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.animate__fadeInLeft {
  animation-name: fadeInLeft;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(50px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.animate__fadeInRight {
  animation-name: fadeInRight;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 40px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.animate__fadeInUp {
  animation-name: fadeInUp;
}

@font-face {
  font-family: 'Open Sans Condensed';
  src: url('./fonts/OpenSansCondensedbold.ttf');
}

@font-face {
  font-display: swap;
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/google-sans-v67-latin-500.woff2') format('woff2');
}
